
<div class="button-container">
  <button class="pure-button sign-in"> <%= link_to 'Sign in', shoppers_path %></button>


  <button class="pure-button sign-up"> <%= link_to 'Sign up', new_shopper_path %></button>
</div>
