
<div class="button-container">
  <%= link_to sign_in_form_shoppers_path do %>
    <button class="pure-button sign-in">Sign in</button>
  <%end%>


   <%= link_to new_shopper_path do %>
    <button class="pure-button sign-up">Sign up</button>
  <%end%>
